<launch>
	<node name="rxconsole" pkg="rxtools" type="rxconsole" respawn="false" />
	<node name="stage" pkg="stage" type="stageros" args="$(find robomagellan)/worlds/simple-course-2.world" respawn="false" />
	<node name="waypoints" pkg="robomagellan" type="waypoints.py" args="$(find robomagellan)/worlds/simple-course-2.waypoints" respawn="true" />
	<node name="navigation" pkg="robomagellan" type="navigation.py" respawn="true" />
	<node name="collision" pkg="robomagellan" type="collision-mock.py" respawn="true" />
</launch>
